.pet {
    width: 250px;
    height: auto;
    display: inline-block;
    padding: 20px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgb(245, 238, 238);
    border-radius: 2%;
    text-decoration: none;

}

.pet:hover {
    background-color: rgb(209, 202, 202);
    cursor: pointer;
}

p {
    min-height: 100px;
    display: flex;

}

.imageList {
    width: 230px;
    height: 160px;
}

.pet-description {
    white-space: normal;
    width: 250px;
    height: 50px;
    overflow: hidden;
}

.hover:hover {
    height: auto;
    white-space: normal;
    border: solid #d6cfcf;
}

h3,
a {
    text-decoration: none;
    color: black;
}