.App {
  text-align: center;
  min-height: 1000px;
  background-color: rgb(215, 224, 224);
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  color: black;
  margin-top: 5%;
  font-size: 50px;
  font-family: 'EB Garamond', serif;
}

h2 {
  color: black;
  font-family: 'EB Garamond', serif;
}
input {
  border-radius: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}