.home-list{
    align-items: center;
    width: 100%;
    height: auto;
    background-image: url("/public/images/lost.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin: 0;
    
}

.home-pets{
    padding-top: 50px;
}
  
