.home-list{
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(215, 224, 224);
}

.home-pets{
    padding-top: 100px;
    padding-bottom: 200px;
}
  
