.calalog {
  background-attachment: fixed;
  background-image: url("/public/images/dogs-transparent-background.jpeg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto;
}

.list {
  padding-top: 200px;
  padding-bottom: 200px;
}


.dropbtn {
  display: flex;
  width: 70px;
  height: 30px;
  background-color: rgb(240, 227, 227);
  margin: 70px;
  content: center;
  border-radius: 5px;
  border: 0px 
}

.dropdown {
  float: left;
  padding: 5px;
}
.dropdown>h5{
  float: left;
  padding: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 70px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(238, 227, 227);
}
