.my-profaile>ul>li {
    font-size: large;
    display: block;
    width: 200px;
    border: 0px;
}

.my-profaile {
    border: 0px;
    width: 300px;
    height: auto;
    background-color: antiquewhite;
    padding-top: 6%;
}

.profaile-picture {
    width: 200px;
}

.my-profaile-page {
    background-attachment: fixed;
    background-image: url("/public/images/dogs-transparent-background.jpeg");
    background-position: center top;
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-top: 15px;
}

.my-profaile>ul>button {
    display: block;
}

.my-profaile>button {
    margin: 5px;
    padding-left: 0px;
    border: 1px solid;
    font-size: large;
    border-radius: 5px;
}

.my-profaile>button:hover {
    background-color: rgb(224, 221, 221);
    border-radius: 5px;
}

.my-profaile-page .my-pets{
    padding-bottom: 100px;
}

.edit-profaile {
    background-color: #cec5c5; /* Green */
    padding: 10px 22px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 5px;
    display: inline-flex;
  }
  
  .edit-profaile:hover {
    background-color: #b9afaf;
}
