.navbar {
  display: flex;
  background-color: rgb(184, 222, 224);
  text-decoration: none;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.nav li {
  display: inline;
  font-weight: bold;
}

.logout-end{
  position:fixed;
   right:15px;
   top:0px;
}

.nav a{
  color: black;
  margin: 30px 30px;
}

.home-jpg {
  width: 90px;
  height: 50px;
  position: absolute;
  left: 15px;
  top: 0px;
  font-size: 50px;
}

.nav li:hover {
  background-color: rgb(191, 208, 209);
  border-radius: 2%;
  text-decoration: none;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.navbar>img{
  left:5px;
  top:0px;
}
.navbar>input{
  padding: 5px;
  position: fixed;
  top: 20px;
  left: 160px;
  width: 200px;
}
