.add {
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-image: url("/public/images/dogs-transparent-background.jpeg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    flex-direction: column;
    height: auto;
    padding-top: 150px;
}

label {
    font-size: 130%;
    padding: 0px;
}

.add-title {
    font-size: 32px;
    margin: 0px;
}

.add-form {
    padding: 12px;
    max-width: 700px;
    margin: auto;
    flex-direction: column;
    display: flex;
    gap: 0px;
    /* align-items: center; */
}

.add-input {
    color: #252525;
    min-width: 0px;
    font-size: 20px;
    border: 0px;
    padding-left: 10px;
    font-style: italic;
}

.add-submit {
    color: #252525;
    min-width: 150px;
    min-height: 40px;
    font-size: 20px;
    border: 0px;
    margin-top: 30px;
}

.add-submit:hover {
    background-color: rgb(192, 185, 185);
    cursor: pointer;
}

.add-input:hover {
    background-color: rgb(216, 214, 214);
    cursor: pointer;
}

textarea:hover {
    background-color: rgb(216, 214, 214);
    cursor: pointer;
}

.pet-form {
    background-color: rgb(215, 222, 223);
    border-radius: 5px;
    padding: 30px;
}

h2 {
    color: black;
}

textarea {
    border-radius: 5px;
}

.errors {
    font-size: 66%;
    color: #d81009;
    min-height: 1px;
}

.valid-inputs {
    font-size: 66%;
    color: #05da21;
    min-height: 1px;
}